<h2>And your next task should be:</h2>

<h1><%=   "[#{done}] #{@item.id} #{@item.task}   due: #{@item.due_date}"  %></h1>
<ul class="side-nav">
  <li><%= link_to 'Home', root_path, class: "button secondary small" %></li>
  <li><%= link_to 'Pick Next Task', items/1/nxt_task_path, class: "button secondary small" %></li>
</ul>